<div class="jumbotron">
    <h1 class="mx-auto" style="width: 650px;"><img src="https://res.cloudinary.com/dzweio5o0/image/upload/v1594653949/main_rqmgez.jpg" /></h1>
    <h1 class="display-3 text-center">COL Cities</h1>
    <p class="lead">This site was created with the sole purpose of delivering Cost of Living data on cities across the globe using a foreign exchange rate API (Fixer.io). In these uncertain times, the ability to make an income remotely while living in a city where your money can go farther can be a tantalizing idea.</p>
    <hr class="my-4">
    <p>Create an account to check back periodically for the latest exchange rates for the local currency on any number of cities you may have a particular eye on in your favorites. Exchange rate by default uses the Euro as the base currency due to current API limitations. Future iterations of this site plan to include data on rent and average cost of a meal.</p>
  </div>