<!DOCTYPE html>
<html>
    <head>
        <title>Auth Boilerplate</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav>
                <% if (currentUser) { %>
                    <a href="/auth/logout">Logout</a>
                    <a href="/profile">Profile</a>
                <% } else { %> 
                    <a href="/auth/register"><button type="button" class="btn btn-default navbar-btn">Register</button></a>
                    <a href="/auth/login"><button type="button" class="btn btn-default navbar-btn">Sign in</button></a>
                <% } %>
            </nav>
        </header>
        <div class="container">
            <h1>🦦 Authenticating Users 🦦</h1>
            <%- include('./partials/alerts') %>
            <%- body %>
        </div>
    </body>
</html>