<br />
<body>
  <div class="jumbotron">
    <h1>Hello, <strong><%= currentUser.name %></strong>!</h1>
    <hr class="my-4">
    <p>Please use the links above to review the list of cities available for viewing or to monitor exchange rates on your watchlist. Check back for functionality updates!</p>
  </div>
</body>

